<%- include('partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= name %>
<%- include('partials/footer.ejs') %>
